@import "../../../styles.scss";

.login-container {
  color:$amarillo-base;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 10px 25px;
  text-align: center;
  margin: 25px auto;
}

.login-container img {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: block;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #fff;
}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  color: $amarillo-claro;
  font-family: "Bricolage Grotesque", sans-serif;
  transition: border-bottom-color 0.3s ease-in-out;
  outline: none;
}

button {
  background-color: $amarillo-claro;
  color: #24261a;
  padding: 12px 10px;
  border: 1px solid black;
  border-radius: 54px;
  cursor: pointer;
  margin: 10px 0;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: black;
  border: 1px solid $amarillo-claro;
  color: #fff;
}



.error {
  color: red;
}
