<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clinica de Andrea</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
  </head>

  <body>
    <div id="oopss">
      <div id="error-text">
        <br>
        <br>
        <br>
        <br>
        <img src="../../../assets/logo.png" alt="" />
        <br>
        <span>cuenta verificada</span>
        <span>😊</span>
      </div>
    </div>
  </body>
</html>
