

.container{
  position: absolute;
  right: 0;
background-color: black;
  border-radius: 10px;
  width: 150px;
}
P{
  padding-top: 15px;
  font-weight: 700;
}
small{
  color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

button {
  background-color:#dba905;
  color: #24261a;
  padding: 12px 10px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
  font-weight: bold;
  width: 80px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: transparent;
  border: 1px solid #dba905;
  color: #fff;
}
