<br><br><br><br><br><br>

<div class="rounded container bg-dark">
  <div class="row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../../assets/mail.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="50%" loading="lazy">
    </div>
    <div class="col-lg-6 p-5">
      <h1 class="display-5 fw-bold lh-1 mb-3">Clínica de Andrea</h1>
      <p class="lead">Debe confirmar su mail para continuar.</p>
      <p class="lead">Revise su casilla de spam.<br>
      </p>
      <button type="button" class="btn btn-danger btn-lg px-4 me-md-2" (click)="salir()">Salir</button>
    </div>
</div>
