<div class="container d-flex">
  <div class="juego">
    <h1>Reglas del juego</h1>
    <p>
      Se te presenta un rectángulo en la pantalla. Tienes 25 segundos para llenar
      el rectángulo de círculos. Para ello debes pasar el mouse por toda el
      area. El objetivo es hacerlo lo más rápido posible; si se acaba el tiempo y no
      has llenado el rectángulo, perderás. ¡Mucha suerte!
    </p>
  </div>
  <div class="card">
    <h1 class="titulo">Quien soy</h1>
    <img src="../../../assets/quiensoy.jpg" id="foto" alt="..." />
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <h5 class="card-title">Andrea Briceño</h5>
      <h5 class="card-text">Legajo 111054</h5>
    </div>
  </div>
</div>
